USE [master]
GO
/****** Object:  Database [Biro]    Script Date: 12/15/2022 12:28:23 PM ******/
CREATE DATABASE [Biro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Biro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Biro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Biro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Biro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biro]
GO
/****** Object:  Table [dbo].[Firma]    Script Date: 12/15/2022 12:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firma](
	[IDFirme] [int] IDENTITY(1,1) NOT NULL,
	[NazivFirme] [varchar](50) NOT NULL,
	[LokacijaFirme] [varchar](50) NOT NULL,
	[MailFirme] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Firma] PRIMARY KEY CLUSTERED 
(
	[IDFirme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Osobe]    Script Date: 12/15/2022 12:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Osobe](
	[IDOsobe] [int] IDENTITY(1,1) NOT NULL,
	[ImeOsobe] [varchar](50) NOT NULL,
	[PrezimeOsobe] [varchar](50) NOT NULL,
	[GodineOsobe] [int] NOT NULL,
	[TelefonOsobe] [int] NOT NULL,
 CONSTRAINT [PK_Osobe] PRIMARY KEY CLUSTERED 
(
	[IDOsobe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zaposleni]    Script Date: 12/15/2022 12:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zaposleni](
	[IDOsobe] [int] NOT NULL,
	[IDFirme] [int] NOT NULL,
	[Plata] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Zaposleni]  WITH CHECK ADD  CONSTRAINT [FK_Zaposleni_Firma] FOREIGN KEY([IDFirme])
REFERENCES [dbo].[Firma] ([IDFirme])
GO
ALTER TABLE [dbo].[Zaposleni] CHECK CONSTRAINT [FK_Zaposleni_Firma]
GO
ALTER TABLE [dbo].[Zaposleni]  WITH CHECK ADD  CONSTRAINT [FK_Zaposleni_Osobe] FOREIGN KEY([IDOsobe])
REFERENCES [dbo].[Osobe] ([IDOsobe])
GO
ALTER TABLE [dbo].[Zaposleni] CHECK CONSTRAINT [FK_Zaposleni_Osobe]
GO
USE [master]
GO
